{% extends 'base.html' %}

{% block title %} Contacts {% endblock title %}

{% block body %}
<div class="container">
    <img src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fbest-gaming&psig=AOvVaw0EGZQtMTIrjVlNlyJkfLAz&ust=1645709026039000&source=images&cd=vfe&ved=2ahUKEwjj6ryA9pX2AhU8ktgFHZriCdoQjRx6BAgAEAk">

    <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
{% endblock body %}
